* {
    font-family: "Inter", sans-serif;
    margin: 0px;
}

a {
    color: black;
    text-decoration: underline;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-size: 10px;
    padding-bottom: 14px;
}

.absolute-footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.relative-footer {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}