.github/
.husky/
api/
node_modules/
scripts/

**/.idea
**/.next
**/archive
**/node_modules
**/public

**/.env.example
**/.eslintignore
**/.gitignore
**/bun.lockb

.eslintignore
.gitignore
.prettierignore
bun.lockb
LICENSE
README.md