.github/
.husky/
node_modules/

**/.idea
**/.next
**/node_modules
**/public

**/.env.example
**/.eslintignore
**/.gitignore
**/.prettierignore
**/bun.lockb

.eslintignore
.gitignore
.npmrc
.prettierignore
bun.lockb
LICENSE