.github/
node_modules/

**/.idea
**/.next
**/node_modules
**/public

**/.env
**/.env.example
**/.env.production.local
**/.eslintignore
**/.gitignore
**/.prettierignore
**/yarn.lock

.eslintignore
.gitignore
LICENSE
yarn.lock