* {
    font-family: sans-serif;
    margin: 0px;
    outline: none;
    font-size: 14px;
}

main {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.headshot {
    width: 256px;
}

.project-description {
    padding-top: 8px;
    padding-bottom: 20px;
}

@media (min-width: 375px) {
    main {
        width: 352px;
    }
}

@media (min-width: 768px) {
    main {
        width: 576px;
    }
}
