* {
    font-family: sans-serif;
    margin: 0px;
    outline: none;
    font-size: 14px;
}

main {
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
}

img {
    width: 256px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.project-description {
    padding-top: 8px;
}

@media (min-width: 375px) {
    main {
        width: 352px;
    }
}

@media (min-width: 768px) {
    main {
        width: 576px;
    }
}
