.container-bg {
        color: rgb(255 255 255);
        background-color: rgb(23 23 23);
        min-height: 100vh;
}

.container-content {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        margin-left: auto;
        margin-right: auto;
}

@media (min-width: 320px) {
        .container-content {
                width: 360px;
        }
}

@media (min-width: 768px) {
        .container-content {
                width: 480px;
        }
}

@media (min-width: 1024px) {
        .container-content {
                width: 512px;
        }
}

@media (min-width: 1280px) {
        .container-content {
                width: 768px;
        }
}
