.spinner-svg {
    width: 16px;
    height: 16px;
    fill: white;
    animation: spin 1s linear infinite;
    color: rgb(212 212 212);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
