.content {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 320px) {
    .content {
        width: 280px;
    }
}

@media (min-width: 768px) {
    .content {
        width: 480px;
    }
}