.content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-card {
    display: flex;
    text-decoration: none;
}

.date {
    width: 224px;
    font-size: 13px;
}

.details {
    width: 100%;
}

.name {
    font-weight: 600;
}

.description {
    margin-top: 8px;
    font-size: 12px;
}

.tech {
    margin-top: 6px;
    font-size: 10px;
}

img {
    margin-top: 16px;
    width: 200px;
    height: 120px;
}

@media (min-width: 320px) {
    .content {
        width: 280px;
    }

    .project-card {
        flex-direction: column;
    }

    .date {
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) {
    .content {
        width: 600px;
    }

    .project-card {
        flex-direction: row;
    }

    .date {
        margin-bottom: 0px;
    }
}

.hackathons {
    margin-top: 48px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hackathon-card {
    text-decoration: none;
}