.post-title {
        padding-top: 24px;
        font-size: 30px;
        font-weight: 700;
}

.post-date {
        margin-top: 16px;
        font-size: 12px;
        color: rgb(163 163 163);
}

.post-img {
        width: 100%;
        margin-top: 24px;
}

.post-article {
        font-size: 15px;
        line-height: 26px;
        margin-top: 32px;
}
