.spinner-svg {
    width: 16px;
    height: 16px;
    fill: rgb(23 23 23);
    animation: spin 1s linear infinite;
    color: white;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
