.menu-wrapper {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    border-radius: 6px;
    width: 128px;
    color: white;
    font-weight: 500;
    overflow: hidden;
    top: 20px;
    right: 0px;
    padding: 12px;
    background-color: rgb(38 38 38);
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}
